<link rel="stylesheet" href="/css/cadastro.css">
<h1>Cadastrar</h1>
<form action="/cadastro" method="post">
    <label for="nome">Digite seu nome : </label><br>
    <input type="text" name="nome"><br>

    <label for="email">Digite seu email : </label><br>
    <input type="text" name="email"><br>

    <label for="telefone">Digite seu telefone : </label><br>
    <input type="text" name="telefone"><br>

    <label for="senha">Digite sua senha : </label><br>
    <input type="password" name="senha"><br><br>
    
    <button type="submit">Cadastrar</button>
</form>