<link rel="stylesheet" href="/css/login.css">
<h1>Login</h1>
<form action="/login" method="post">
    <label for="email">Digite seu email : </label><br>
    <input type="text" name="email"><br>

    <label for="senha">Digite sua senha : </label><br>
    <input type="password" name="senha"><br><br>
    
    <button type="submit">Login</button>
</form>